body {
    background-color: #F5F5F5;
    margin: 0;
}

.window {
    width: 1400px;
    height: 700px;
    background-color: white;
    margin: auto;
    margin-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    
    box-sizing: border-box;

}

.leftside {
    display: flex;
    justify-content: space-between;
    width: 50%;

    align-items: center;
    box-sizing: border-box;
}

.border {
    width: 100%;
    height: 70%;
    border-right: rgba(255, 165, 0, 1) solid 10px;

}

.rightside {

    font-family: 'Open Sans', sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-top: 17%;

}

form {
    display: flex;
    flex-direction: column;
       
    justify-content: space-between;
    padding-top: 50%;
    box-sizing: border-box;
    margin-bottom: 5%;
    
    
}

button {
    background-color: rgba(0, 191, 255, 1);
    width: 50%;
    padding: 5% 0%;
    border-radius: 5%;
    text-align: center;
    margin-left: auto;
    margin-top: 12%;

}

a {
    text-decoration: none;
    color: black;
    font-weight:bold ;
    font-size: 1.1rem;

}

input {
    font-weight: 700;
    padding: 5%;
    font-size: 1.2rem;
    border: rgba(112, 112, 112, 1) 1px solid;
    margin-bottom: 5%;

}

label {
    color: rgba(150, 150, 151, 1);
    font-size: 1.5rem;
    }
    .forgot{
        margin-left: 5%;
        color: rgba(150, 150, 151, 1);
        font-weight: 400;
        position: relative;
        left: 88%;
        top:5%;
    }