body {
    background-color: #F5F5F5;
    margin: 0;
}

.window {
    min-width: 1400px;
    height: 1000px;
    background-color: white;
    margin: auto;
    margin-top: 10%;
    padding: 2%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

}

.mainheader {
    background-color: #155767;
    width: 100%;
    height: 12%;
    border: rgba(112, 112, 112, 1) 1px solid;
    box-shadow: 3px 3px 3px rgba(112, 112, 112, 1);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.usersimg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ususers {
    background-color: white;
    border-radius: 50px;
    padding: 20%;
    background-repeat: no-repeat;
    box-sizing: border-box;

}

.header div {
    padding: 0 5%;
}

.users {
    color: #F5F5F5;
    padding-left: 4%;
}

.leftwhite {
    background-color: white;
    width: 30%;
    height: 100%;
    border-radius: 50px;
}

.white {
    width: 50%;
    height: 100%;
    background-color: white;
}
.empty{
    width: 100%;
    height: 12%;
}

.ref {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 1%;
    margin-bottom: 1%;
    border: rgba(112, 112, 112, 1), solid, 1px;
}

.refr {
    color: rgba(247, 247, 249, 1);
    background-color: rgba(0, 191, 255, 1);
    border: rgba(112, 112, 112, 1) solid 1px;
    font-weight: 700;
    padding: 1%;
    box-sizing: border-box;
}

.arrow {
    background-color: black;
    background-size: contain;
    padding: 2%;
}

.mainbody {
    display: flex;
    width: 100%;
    height: 75%;
    border: rgba(112, 112, 112, 1) solid 1px;
}
.form{
    padding: 1% ;
}

.leftmenu {
    width: 20%;
    height: 100%;
    border: rgba(112, 112, 112, 1) solid 1px;
}

ul {
    list-style: none;
    margin-top: 5%;
}
.leftmenu li a{
    text-decoration: none;
    color: black;
    
    }
    .leftmenu li a::before{
        content: " ";
        display: inline-block;
        width: 1rem;
        height: 1rem;
        background-size: contain;
        background-image: url(./svg/key.svg);
    }
.actual{
    font-weight: 700;
}

ul li {
    margin-top: 10%;
    font-size: 1.2rem;
    
}
ul :hover{
    font-weight: 700;
    
}

.form {
    width: 100%;
    margin: 0.2%;
}

.up {
    display: flex;
    justify-content: space-between;

}

.ls {
    display: flex;
    align-items: center;
    margin-left: 0%;
}

.add {
    color: rgba(150, 150, 151, 1);
    font-size: 1.3rem;
    font-weight: 700;
}

.rs {
    display: flex;
    margin: 0%;
    width: 25%;

}

.rs button {
    margin: 3%;
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 3%;
    padding-bottom: 3%;
    border-radius: 7px;
    border: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
    box-sizing: border-box;
}
.del{
    background-color: rgba(162, 163, 164, 1);
padding: 2%;}
.save{
    background-color: #00BFFF;
}
.tablo{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 3%;
    width: 70%  ;
}
label{
    margin-left: 5%;
    color:rgba(150, 150, 151, 1);
    
}
input{
    color: rgba(150, 150, 151, 1);
    padding: 2%;
    border: rgba(112, 112, 112, 1) solid 1px;
}
.dva{
    display: flex;
    justify-content: space-between;
    
}
.cc{
    display: flex;
    flex-direction: column;
    width: 40%;
    }
.cc input{
    padding: 5%;
}
.tri{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;


}
.local{
    display: flex;
    width: 100%;
    align-items:flex-end;
}
.local input{

}


.generate{
    width: 40%;
    text-align: center;
    background-color: #00BFFF;
    padding: 1%;
    box-sizing: border-box;

}
.generate a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    align-items:flex-end;
}
.generate a::before{
    content: "";
    display: inline-block;
    width: 1.6rem;
    height: 1.6rem;
    background-size: contain;
    background-image: url(./svg/key.svg);
    margin-right: 5%;
}
.lig{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.inp3{
    width: 100%;
   margin: left 0;
   
}
.inp3 input:nth-child(2){
    padding-left: 5%;
    background-position: left;
    background-repeat: no-repeat;
    background-image: url(./svg/lupa.svg);
}
.inp3 input:nth-child(2){
    width: 70%;
}
table{
width: 90%;
    margin-left: auto;
    margin-right: auto;
}
th{
    padding-top: 5%;
    width: 19%;
    color:  rgba(150, 150, 151, 1);
    font-size: 1.2rem;
}
.digit{
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 2%;
}
tbody tr td{
    text-align: center;
    padding-top: 0%;
    padding-bottom: 0%;
    width: %;
    color:  rgba(150, 150, 151, 1);
    font-size: 1.2rem;
    background-color: rgba(214, 214, 214, 0.16);
}
.line2 td{
    height: 40px;
     
}
.slider{
    margin: 0.5% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.slider img, .slider div{
    border: rgba(112, 112, 112, 1) 1px solid;
    padding:0.5% 1%;
    height: 1rem;}
    
.slidernumber{
    color: white;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    background-color:rgba(0, 191, 255, 1);
}
.binput{
    display:flex ;
    justify-content:flex-start;
    align-items:flex-start;
    }
    .binput input{
        padding: 10px;
        border-radius: 5px;
    }
.inp1{
    
}

.inp2 input{
    background-image: url(./svg/star.svg);
    background-repeat:repeat-x;
}
.btm{
display: flex;
justify-content: space-between;
align-items: center;
width: 80%;
padding-top: 5%;

}
.imurl{
    display: flex;
}
.imurl input{
    border: none;
    border-bottom: rgb(85, 73, 73) solid 1px;
}
.chess img{
padding: 0%;   
}
.bottomblock{
    border: rgba(112, 112, 112, 1) 1px solid;}
    .cancel{
        color: white;
        font-weight: 700;
        background-color: #969697;
        border: #707070 solid 1px;
        padding: 12px 14px;
    }
    p label{
        width: 30%;
        display: inline-block;
    }
    form > div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .column{
        display: flex;
        flex-direction: column;
        width: 45%;
    }
    .radio{
        position: relative;
        left: 65%;
        margin:auto 0;
    }
    input[type=radio]:checked label{
        color: black;
    }