:root {
    font-size: 16px;
}

body {
    font-family: 'Inter', sans-serif;
}

.firstline {
    font-size: 3rem;
    font-weight: 700;
    color: #0BBBD3;
    text-align: center;
    font-family: inter;
    padding: 1%;
}

.header-style {
    color: black;

}

.banner {
    box-sizing: border-box;
    background-image: url(../img/Успенський\ собор\ 1.jpg);
    height: 852px;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 15%;
    padding-left: 4%;
}

.cont {
    box-sizing: border-box;
    font-weight: 700;
    background-image: url(../img/prapor.png);
    height: 60%;
    background-repeat: no-repeat;
    font-size: 4em;
    color: white;
    width: 60%;
    padding-left: 5%;
    padding-top: 5%;
}

.head2 {
    margin: 2% 0;
    font-size: 3rem;
    font-weight: 700;
}

.line {
    color: #33B8F1;
    width: 361px;
    border-bottom: solid 5px;
}
.line2{
    margin: 0 auto;
}
.main {
    padding: 0 5%;

}

.card {
    border: 2px solid;
    width: 30%;
    border-radius: 8%;
    display: inline-block;
    vertical-align: top;
    height: 31%;
    box-shadow: 0px 4px 6px rgb(0 0 0 / 50%);

}

.card-margin {
    margin: 0 4%;
}

.card-img {
    width: 100%;
}

.cardtitle {
    font-size: 2.25em;
    font-weight: 700;
    padding-left: 3%;
    color: #030303;
    box-sizing: border-box;
}

.cardtext {
    font-size: 2rem;
    font-weight: 400;
    padding-left: 3%;
    color: #595050;
    box-sizing: border-box;
}

.head3 {

    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin: 2% auto;
}

.yellow {}

.y {
    text-align: center;
}

.linksupport {
    width: 30%;
    margin: 0 auto;
    text-align: center;

    color: white;
    font-size: 3rem;
    font-weight: 700;

    background-color: #33ADF1;
    background-position: center;
    size: 30%;
}

.bottombackground {
    margin-top: 202px;
    background-color: #0A2DA9;
    height: 455px;
    text-align: center;
}

.bottom {

    padding-top: 49px;
    color: #0BBBD3;
    font-size: 4rem;
    text-align: center;


}

.bottom-style {
    color: white;
}

.contacts {
    color: #353949;
    font-size: 2rem;
    text-align: center;
}

.post {
    margin-top: 29px;
    

}

.phone {
    margin-top: 35px;
    }
    .mail{
        text-decoration:none;
        color: #353949

    }
.sc{
    padding: auto;
}

.socseti{
    width: 8%;
    margin: 50px 24px;
    
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    height: 19%;
    padding-top: 20px;
    background-color: #0931BF;
    vertical-align: top;
    box-sizing: border-box;
}
.twit{
    margin-left: 0%;
}

