body {
    margin: 0;
    padding: 0;
}

div[class^="page"] {
    height: 100vh;
    border: 2px solid black;
    z-index: 1;
    font-family: 'Rosario', sans-serif;

}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 2;
}

.head img {
    background-color: white;
}

ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    width: 80%;
    font-style: italic;
    font-weight: 700;
    font-size: 2rem;
}

ul li {
    padding-left: 4%;
    padding-right: 4%;
    box-sizing: border-box;
}

ul li a {
    text-decoration: none;
    color: white;
}

.photo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 3%;

}

.photo img {
    padding: 3%;
}

.left {
    animation: lbf 1s linear 1;
    position: relative;
}

@keyframes lbf {
    from {
        left: -100vh;
    }

    to {
        left: 0;
    }
}

.right {
    animation: rbf 1s linear 1;
    position: relative;
}

@keyframes rbf {
    from {
        left: 100vh;
    }

    to {
        left: 0;
    }
}

.lf {
    animation: rimg 2s linear 1;

    position: relative;
}

@keyframes rimg {
    from {
        left: -100vh;
    }

    to {
        left: 0;
    }
}

.rf {
    animation: limg 2s linear 1;
    position: relative;
}

@keyframes limg {
    from {
        left: 100vh;
    }

    to {
        left: 0;
    }

}

.p2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.p2right {
    width: 0%;
    overflow: hidden;

}

.p2left {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 3rem;
    font-style: italic;
    font-weight: 700;
    margin-bottom: 5%;


}

div[class*="rotate"] {
    background-repeat: no-repeat;
    background-position: top;
    padding-top: 35%;
    box-sizing: border-box;
    width: 50%;
    text-align: center;
    position: relative;

}

.rotate1 {
    background-image: url(./img/hair-styling.png);
    animation: rotation1 5s linear infinite;
}

.rotate2 {
    background-image: url(./img/beard-trimming.png);
    animation: rotation2 5s linear infinite;
}

.rotate3 {
    background-image: url(./img/smooth-shave.png);
    animation: rotation3 5s linear infinite;
}

.rotate4 {
    background-image: url(./img/hair-straightening.png);
    animation: rotation4 5s linear infinite;
}

@keyframes rotation1 {

    from,
    to {
        left: 0;
        top: 0;
    }

    25% {
        left: 50%;
        top: 0;
    }

    50% {
        top: 465px;
        left: 50%;
    }

    75% {
        left: 0%;
        top: 465px
    }
}

@keyframes rotation2 {

    from,
    to {
        left: 0;
        top: 0;
    }

    25% {
        left: 0;
        top: 465px;
    }

    50% {
        left: -50%;
        top: 465px;
    }

    75% {
        left: -50%;
        top: 0;
    }
}

@keyframes rotation3 {

    from,
    to {
        left: 0;
        top: 0;
    }

    25% {
        left: 0%;
        top: -465px;
    }

    50% {
        left: 50%;
        top: -465px;
    }

    75% {
        left: 50%;
        top: 0;
    }
}

@keyframes rotation4 {

    from,
    to {
        left: 0;
        top: 0;
    }

    25% {
        left: -50%;
        top: 0;
    }

    50% {
        left: -50%;
        top: -465px;
    }

    75% {
        left: 0;
        top: -465px;
    }
}

.h {
    text-align: center;
    font-size: 6rem;
    font-weight: 700;
    margin: 2%;
}

.experts {
    display: flex;
    justify-content: space-evenly;

}

div[class^="card"] {
    position: relative;
    height: 677px;
}

.card1 {
    background-image: url(./img/expert1.png);
    width: 404px;
}

.card2 {
    background-image: url(./img/expert2.png);
    width: 392px;
}

.card3 {
    background-image: url(./img/expert3.png);
    width: 400px;
}

.card4 {
    background-image: url(./img/expert4.png);
    width: 396px;
}

.names {
    position: absolute;
    bottom: 0;
    height: 0;
    width: 100%;
    overflow: hidden;
    text-align: center;
    font-size: 3rem;
    color: rgba(255, 250, 250, 1);
    background-color: rgba(163, 83, 10, 0.7);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    transition: all .2s;

}
div div[class*="card"]:hover{
        filter: brightness(.5);
}

.experts div:hover .names {
    height: 100px;
    padding-top: 40px;
    padding-bottom: 20px;
    filter: brightness(1);

}

.toppart {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 2%;

}

.h2 {
    font-weight: 700;
    font-style: italic;
    font-size: 4rem;
    margin-top: 0%;

    width: 45%;
    text-align: center;

}

input {
    font-size: 2rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.5);
    padding: 1%;
    width: 43%;

}

textarea {
    margin-top: 2%;
    font-size: 2rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.5);
    padding: 1%;
    width: 90%;
}

form {
    background-color: rgba(229, 229, 229, 1);
    text-align: center;
    padding: 1%;
    margin-top: 2%;
}

iframe {
    width: 40%;
    height: 600px;
    margin-left: 1%;

}

.inf {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    text-decoration: none;
    font-style: italic;
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;


}

.inf a {
    text-decoration: none;
    color: black;
}

span {
    font-style: normal;
    font-weight: 700;
}

.opening span {
    font-size: 2rem;
}

.connect>div:nth-child(2)::before {
    content: "";
    width: 34px;
    height: 26px;
    display: inline-block;
    background-image: url(./img/instagram.png);
    background-repeat: no-repeat;

}

.connect>div:nth-child(3)::before {
    content: "";
    width: 45px;
    height: 29px;
    display: inline-block;
    background-image: url(./img/facebook.png);
    background-repeat: no-repeat;
}

.connect>div:nth-child(4)::before {
    content: "";
    width: 48px;
    height: 29px;
    display: inline-block;
    background-image: url(./img/twitter.png);
    background-repeat: no-repeat;
}

.example {
    padding: 10px;
    width: 300px;
    border: 1px black solid;
}

h1 {
    border: 1px black solid;
    height: 100px;
}

p {
    border: 1px black solid;
    height: 100px;
}

h1:hover+p {
    background: black;
}

@media screen and (max-width:1700px){
.lf{
    animation: l1 2s linear 1;
    position: relative;
}
@keyframes l1{
    from{
        left: -.5vh;
        top: -100px;
    }
    to{
        left: 700px;
        top: -100px;
    }
}
.left img:first-child{
    animation: l2 2s linear 1;
    position: relative;
}
@keyframes l2{
    from{
        left: -0.5vh;
        top: -500px;
    }
    to{
        left: -250px;
        top: -350px;
    }
}
.rf{
    animation: r1 2s linear 1;
    position: relative;
}
@keyframes l1 {
    from{
        left:.5vh;
        top: -100px;
    }
    to{
        left: -700px;
        top: -250px;
    }


    }
    
}
    
}