body {
    background-color: #F5F5F5;

}

.header {
    background-color: #202846;
       
    font-family: 'PT Sans';
    font-weight: 700;
    font-size: 2rem;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-img{
    margin-left: 4%;
}

.headerlist li {
    display: inline-block;
    

    padding: 2rem;  
    
    text-transform: uppercase;
    list-style-type: none;
}

.headerlist li:nth-child(6) {
    padding-left: 8rem;
}

header-img {}

.topsection {
    color: #202846;
    background-color: #C6C6DC;
    font-size: 4rem;
    font-family: 'PT Sans';
    font-style: italic;
    padding: 2rem 4rem
}

.main-style {
    background-color: #F5F5F5;
    padding: 0 5%;
}

.oberit {
    position: relative;
    background-color: #E8E8E8;

    margin: 4rem 0;
    font-size: 2rem;
    text-align: center;
    padding: 1rem 0;
    display: flex;
    justify-content: space-evenly;
}
.triangle{
    position: absolute;
    left: 96%;
    top:35%;
}

.bl1 {
    color: #000000;
    opacity: 61%;
    ;
}

.sections {
    display: flex;
    justify-content: flex-end;
    background-color: #BDBDC6;
    margin-bottom: 2rem;
    vertical-align: bottom;
    position: relative;
}

.photo {
    margin: 2rem 3rem 2rem 6rem;


}

.nazva {
    margin: 2rem 6rem 2rem 3rem;
    font-size: 1.8rem;
    color: #353C57;
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 700;
    border-bottom: 3px solid #FFFFFF;
}

.opys {
    margin: 2rem 6rem 2rem 3rem;
    padding: 1rem;
    text-align: center;
    background-color: #D7D7DD;
    background-size: 50% 50%;
    font-size: 1.5rem;

    color: #202846;


}

.star {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.bottom {
    color: #FFFFFF;
    padding: .8rem;
    font-size: 1.9rem;
    background-color: #202846;
    border-radius: 40px;
    position: absolute;
    bottom: 1rem;
    right: -2rem;

}

.sections:hover {
    box-shadow: 10px 2px;
    5px 0 rgb(255 5 5 / 50%);
    cursor: pointer;
}

.sections:hover path {
    fill: yellow;
}

.sections:hover {
    background-color: #AEAEE2;
}

.sections:hover .bottom {
    background-color: #EF075B;

}
.smile{
    text-align: center;
    margin-top: 3%;
    
}