body,
ul,
li {
    margin: 0;
    padding: 0;
}


ul {
    list-style: none;
}

.frame {
    width: 100%;
    background: linear-gradient(30deg, rgba(62, 112, 142, 1), rgba(100, 150, 155, 1));
    padding: 25% 15% 5% 30%;
    font-family: 'Space Grotesk', sans-serif;
}

.form {
    width: 1440px;
    height: 1024px;
    background-color: white;
    display: flex;
    justify-content: space-between;

}

.leftside {
    width: 55%;
    align-items: center;



}

.kreativ {
    font-weight: 700;
    padding-top: 7%;
    padding-left: 9%;
    padding-bottom: 10%;
    font-size: 1.5rem;
    color: rgba(73, 111, 116, 1)
}

.lets {
    font-weight: 700;
    font-size: 1.5rem;
}

.paragraphs {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

input,
button {
    width: 100%;
    padding: 2%;
    box-sizing: border-box;
}

input {
    border: 1px solid rgba(204, 204, 204, 1);
}

button {
    font-weight: 700;
    color: white;
    background: linear-gradient(90deg, rgba(39, 72, 93, 1),
            rgba(40, 74, 94, 1));
    border: 1px solid rgba(40, 74, 94, 1);
}


.loc {
    display: flex;
    align-items: center;
}

.pas {
    font-size: 0.7rem;
    color: rgba(204, 204, 204, 1);

}

.login {
    display: flex;
    justify-content: center;

}

.allready {
    color: rgba(196, 196, 196, 1);
    font-weight: 700;
    padding-right: 2%;
}

.login>a {
    color: rgba(71, 109, 115, 1);
    font-weight: 700;
}

.rightside {
    width: 45%;
    color: white;
    background: linear-gradient(50deg, rgba(81, 120, 121, 1), rgba(30, 62, 87, 1));

}

.head,
.head>a {
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    font-weight: 700;
    padding-left: 10%;
    padding-right: 5%;
    padding-top: 2%;

}
.citata{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.creat {
    font-size: 4rem;
    font-weight: 700;
    text-shadow: 3px 3px 2px rgb(159, 154, 154);
}
.albert{
    font-weight: 700;

}