body {}

.mainbox {
    background-color: #212529;
    padding: 0 5%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1%;
}


.menu {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
    font-family: poppins;

}

li {
    list-style-type: none;
}

.headmenu:hover {
    color: #FFB742;
}

.hire {
    align-items: center;
    background-color: #FFB742;
    color: black;
    border-radius: 50px;
    font-weight: 700;
    padding: 10px 20px;
}

.hello {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin-top: 8%;
    font-family: Inter;
    font-weight: 700;
    text-transform: capitalize;

}

.hi {
    color: #FFFFFF;
}

.KartikBansal {
    color: #FFB742;
    margin-left: 1%;
    text-decoration: underline;
    font-size: 2rem;
    font-family: Inter;
    font-weight: 700;
    text-transform: capitalize;

}

.designer {
    text-align: center;
    text-transform: capitalize;
    font-size: 3rem;
    color: #FFFFFF;
    margin-top: 2%;
    font-family: inter;
    font-weight: 700;

}

.do {
    color: #FFFFFF;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 3%;
    font-family: Inter;
    text-transform: capitalize;
}

.smile {
    text-align: center;
    margin-top: 2%;
}

.cards {
    display: flex;
    justify-content: space-between;
}

.card{
    width: 30%;
    padding: 2% 0;
    margin-top: 5%;
    background-color: #292B2E;
    border-radius: 10px;
    display: flex;
    color: #FFFFFF;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 700;

}

.fiveplus {
    color: #FFB742;
}

.card:hover {
    background-color: #FFB742;
}

.card:hover .fiveplus,
.card:hover .discr {
    color: black;
}

.firstsec {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;

}

.firstleft {
    width: 50%;
    display: flex;
    box-sizing: border-box;
    position: relative;



}

.man {
    position: absolute;
    top: 1%;
    left: 1%;

}

.manbg {

    margin-top: 10%;

}

.firstright {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wia {
    color: #FFB742;
    background-color: rgba(255, 255, 255, 0.08);
    padding: 6px 25px 6px 25px;
    border-radius: 50px;
    font-family: poppins;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    
}

.about {
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 700;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    margin-top: 1%;
}

.skills {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-top: 4%;

}

.h {
    margin-top: 10%;
}

.secondsec {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.mw {
    color: rgba(255, 183, 66, 1);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.08);
    font-size: 1.2rem;
    border-radius: 50px;
    padding: 6px 25px 6px 25px;
    text-transform: uppercase;
}

.fw {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 3rem;
    text-transform: capitalize;
}

.menu2box {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.menu2 {
    padding: 6px 25px 6px 25px;
    transition: 0.5s;
}

.menu2box li:hover {
    color: black;
    background-color: #FFB742;
    border-radius: 3px;
}

.menu2 a:hover {
    color: black;
}
.section3{
padding-bottom: 5%;
}
.line {
    display: flex;
    justify-content: space-around;
    padding: 2%;
    box-sizing: border-box;
}

.footer {
    display: flex;
    font-family: 'Work Sans', sans-serif;
    background-color: rgba(28, 28, 28, 1);
    padding: 6% 5%;
    text-transform: capitalize;
    
}

.colomn1 {
    width: 25%;
    color: #D4D4D4;
     


}
.colomn1 li:nth-child(1){
    color: #FFB742;
    font-family:'Poppins', sans-serif;
    font-weight:700;
    font-size:2rem;
    padding-bottom: 6%;   
}
.colomn234{
    width: 75%;
    display: flex;
    justify-content: space-between;
}
.colomn234 li{
    padding-bottom: 10%;
}
.colomn234 li a{
    
    font-weight: 500;
    font-size: 1.1rem;
    color:rgba(123, 123, 123, 1);
    
       
}
.colomn234 li:nth-child(1){
    font-size: 1.5rem;
    color: #FFFFFF;
    font-weight: 700;


}