html{
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
}
section{
    display: grid;
    grid-template-columns: 1.3fr 1fr 1fr;
    grid-template-rows: repeat(12, 31px);
    gap: 12px;
    /*width: 755px;*/
    background-color: rgba(255, 176, 132, 1);
    padding: 27px 45px;
    border-radius: 20px;
}
@media screen and (max-width:800px) {
    section{grid-template-columns: 1.3fr;}
    
}
.namephoto{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.namephoto div{
    font-size: 2rem;
}
.weight600{
font-weight: 600;
}
.weight700{
    font-weight: 700;
}
.flex{
    display: flex; 
    justify-content: space-between;
}
section>div{
    background-color: rgba(255, 255, 255, 1);
    border-radius: 20px;
   /* display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;*/
    /*padding: 5%;*/
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 3%;
    padding-left: 3%;
    box-shadow: 7px 7px;
    
}
section>div:nth-child(1){
    grid-column: 1;
    grid-row: 1/11;
    align-items:left;
    }
section>div:nth-child(2){
    grid-column: 2/4;
    grid-row: 1/4;
}
section >div:nth-child(3){
    grid-column: 2;
    grid-row: 4/8;
    box-shadow: 7px 7px rgba(41, 167, 30, 1);
}
section>div:nth-child(4){
    grid-column: 3;
    grid-row: 4/10;
    box-shadow: 7px 7px rgba(225, 53, 53, 1);
}
section>div:nth-child(5){
    grid-column: 2;
    grid-row: 8/13;
    box-shadow: 7px 7px 
    rgba(54, 117, 176, 1);
}
section div:nth-child(6){
    grid-column: 1;
    grid-row:11/13;
    height: 120 px;
}
section>div:nth-child(7){
    grid-column: 3;
    grid-row: 10/13;
}
.green{
    color: rgba(41, 167, 30, 1);
}
.red{
    color:
    rgba(225, 53, 53, 1)
}
.blue{
    color: rgba(54, 117, 176, 1);
}

